<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	 
	<!-- init method is configured. but it may cause Exception -->
	<bean id="orderDAOService" class="springtestenhancer.demo.bean.OrderDAOService" init-method="init" >
		  
	</bean>

	<bean id="helloWorld" class="springtestenhancer.demo.bean.HelloWorld" />


</beans>